# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.sqlite
*.db
*.db-shm
*.db-wal
*.opendb
/.vs/ProjectSettings.json
/Flex_test/flex-bison-poc/.vs/flex-bison-poc/v16
/Flex_test/flex-bison-poc/flex-bison-poc/Debug
/Flex_test/flex-bison-poc/Mem_Test/Debug
